.Score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-end: span 6;
  grid-row-start: row-start 4;
}

.Score .ship .status .hits {
    display: grid;
    grid-template-columns: repeat(5, 16px);
    grid-column-gap: 3px;
}
  
.Score .ship .status .hits div {
  width: 12px;
  height: 24px;
}

.hits [data-hit="false"] {
  background-color: var(--dark-blue);
  border: 1px solid var(--blue);
  box-shadow: 
    0px 1px 0px var(--near-black), 
    0px -1px 0px var(--near-black), 
    1px 0px 0px var(--near-black), 
    -1px 0px 0px var(--near-black);
}

.hits [data-hit="true"] {
  background-color: var(--dark-red);
  border: 1px solid var(--red);
  box-shadow: 
    0px 1px 0px var(--near-black), 
    0px -1px 0px var(--near-black), 
    1px 0px 0px var(--near-black), 
    -1px 0px 0px var(--near-black);
}

/* position the ship types and status label appropriately */
#x label {
  padding-left: 90px;
}

#x .type {
  margin: 0;
  padding: 0;
  align-self: center;
}

.Score .ship .status .type, label {
  align-self: flex-end;
  font-size: 14px;
  text-transform: uppercase;
}

#x, #y {
  display: grid;
  grid-template-rows: repeat(5, 24px);
  grid-row-gap: 8px;
}

#x { 
  grid-column-end: col-start 1;
  margin-right: 8px;
  margin-left: -8px;
}
  
#y {
  grid-column-end: col-start 3;
}

#x .ship .status, #y .ship .status {
  text-align: right;
  display: grid;
  align-items: center;
}

#x .ship .status {
  grid-template-columns: 80px 1fr;
  grid-column-gap: 10px;
}

#x .ship .status .type {
  grid-column-start: 1;
}

#x .ship .status .hits {
  grid-column-start: 2;
}

[data-ship="Carrier"] {
  order: 1;
}
[data-ship="Battleship"] {
  order: 2;
}
[data-ship="Cruiser"] {
  order: 3;
}
[data-ship="Submarine"] {
  order: 4;
}
[data-ship="Destroyer"] {
  order: 5;
}