.gameboard {
  display: grid;
  grid-template-columns: repeat(6, minmax(48px, 64px) [col-start]);
  grid-template-rows: auto;
  grid-row-gap: 24px;
  grid-column: 1 / span 6;
  grid-row: 2 / span 3;
}

.grid {
  grid-column:  1 / span all;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(6, minmax(48px, 64px) [col-start]);
  grid-template-rows: repeat(6, minmax(48px, 64px) [row-start]);
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
}

.grid button {
  box-sizing: border-box;
  margin: 8px;
  padding: 0px;
  background-color: var(--light-blue);
  border: 2px solid var(--blue);
  border-image: url('../../images/border_default.png') 30 30 / 40px 40px / 4px round space;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  color: var(--near-black);
}

.grid button:hover, .grid button:focus {
  background-color: var(--dark-blue);
}

.grid.active {
  z-index: 1;
  opacity: 1;
}

.grid.hidden {
  z-index: 0;
  opacity: 0;
}

.grid button[data-coordinate="hit"], .grid button[data-coordinate="miss"] {
  cursor: not-allowed;
  pointer-events: none;
}

.grid button[data-coordinate="hit"] {
  border: 2px solid var(--blue);
  border-image: url('../../images/border_hit.png') 30 30 / 40px 40px / 4px round space;
  background-color: var(--dark-red);
}

.grid button[data-coordinate="miss"] {
  border: 2px solid var(--blue);
  border-image: url('../../images/border_miss.png') 30 30 / 40px 40px / 4px round space;
  background-color: var(--blue);
}

/* ANIMATION CODE */
@keyframes turnBlue {
  from {
    background-color: var(--light-blue);
  }
  to 
  {
    background-color: var(--near-black);
    border-image: none;
    border: none;
  }
}

/* parent container */
.animate {
  animation-name: turnBlue;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

/* group1 */
.animate [class="0"],
.animate [class="4"], 
.animate [class="5"], 
.animate [class="9"],
.animate [class="10"], 
.animate [class="12"], 
.animate [class="15"],
.animate [class="17"],  
.animate [class="21"],
.animate [class="23"],
.animate [class="24"], 
.animate [class="25"],
.animate [class="29"],
.animate [class="30"],
.animate [class="33"],
.animate [class="35"] {
  animation-name: turnBlue;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

/* group2 */
.animate [class="1"],
.animate [class="3"],
.animate [class="6"],
.animate [class="7"],
.animate [class="8"],   
.animate [class="13"], 
.animate [class="16"],
.animate [class="18"], 
.animate [class="19"],
.animate [class="20"], 
.animate [class="22"],
.animate [class="26"],
.animate [class="28"], 
.animate [class="34"] {
  animation-name: turnBlue;
  animation-delay: 0.3s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

/* group3 */
.animate [class="2"],   
.animate [class="11"], 
.animate [class="14"], 
.animate [class="27"],
.animate [class="31"],
.animate [class="32"] {
  animation-name: turnBlue;
  animation-delay: 0.6s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}