.App {
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr) [col-start]);
    grid-template-rows: repeat(auto-fit, minmax(48px, 64px) [row-start]);
    justify-items: center;
    align-content: center;
}