.Message {
    z-index: 2;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 6;
    height: fit-content;
    text-align: center;
    color: var(--near-black);
    display: grid;
    grid-template-rows: 48px 1fr;
    grid-row-gap: 18px;
}

.Message h1 {
    height: 25px;
    font-size: 20px;
}

.Message img {
    object-fit: cover;
    width: 100%;
    justify-self: stretch;
}